((*- extends 'style_jupyter.tex.j2' -*))

((* block packages *))
\usepackage[a4paper]{geometry}
\usepackage[brazil]{babel}
\usepackage[mathletters]{ucs}
\usepackage[utf8x]{inputenc}
\usepackage[encoding,filenameencoding=utf8x]{grffile}
\usepackage{fontspec}
\usepackage{cancel}
((( super() )))
((* endblock packages *))

((* block title *))
\title{((( nb.metadata["latex_metadata"]["title"] )))}
((* endblock title *))

((* block author *))
\author{Pedro Sader Azevedo (RA: 243245)}
((* endblock author *))
